{
  "extends": "eslint-config-amo",
  "globals": {
    "browser": true,
    "document": true,
    "FileReader": true,
    "window": true,
  },
  "rules": {
    "no-console": [
      "error", {
        "allow": ["debug", "error"]
      }
    ]
  }
}
