body, html {
  padding: 0;
  margin: 0;
}

h2 {
  display: block;
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.placeholder {
  width: 64px;
  height: 64px;
  background: #eee;
  border: 1px solid #ccc;
  margin-left: 10px;
  position: relative;
  box-sizing: content-box;
}

.placeholder:not(:empty):hover::before {
  content: '🗑';
  display: block;
  line-height: 65px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255, 0.7);
}

label {
  display: flex;
  margin-bottom: 5px;
}

label span {
  text-align: right;
  width: 150px;
  margin-right: 10px;
}

.help {
  color: #bbb;
  font-size: 12px;
  margin: 0 0 10px 160px;
}

input {
  flex-grow: 1;
}

input[type="url"] {
  font-family: inherit;
  font-size: inherit;
  padding: 5px 10px;
  -moz-appearance: none;
  color: var(--in-content-text-color);
  border: 1px solid var(--in-content-box-border-color);
}

input:invalid {
  box-shadow: none;
}


hr {
  border: 1px solid #c1c1c1;
  border-width: 1px 0 0;
}

button {
  padding-right: 10px;
  padding-left: 10px;
}

.remove-button {
  display: block;
  margin-left: auto;
}

.favicon-form,
#custom-favicons {
  overflow: hidden;
}

.favicon-form .wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.form-block {
  flex-grow: 1;
}
