body {
  color: #666;
}

p.help {
  color: #999;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #202023;
    color: rgb(249, 249, 250);
  }
}

body,
html {
  padding: 0;
  margin: 0;
}

h2 {
  display: block;
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(12, 12, 13, 0.3);
}

.placeholder {
  width: 64px;
  height: 64px;
  background: #eee;
  border: 1px solid rgba(12, 12, 13, 0.3);
  margin-left: 10px;
  position: relative;
  box-sizing: content-box;
}

.placeholder:not(:empty):hover::before {
  background: rgba(255, 255, 255, 0.7);
  content: ' ';
  display: block;
  line-height: 65px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

label {
  display: flex;
  margin-bottom: 5px;
}

label span {
  text-align: right;
  width: 150px;
  margin-right: 10px;
}

.help {
  color: #bbb;
  font-size: 12px;
  margin: 0 0 10px 160px;
}

input {
  flex-grow: 1;
  border: 1px solid #c1c1c1;
  min-height: 1.5em;
  padding: 0.2em;
}

input[type="url"] {
  font-family: inherit;
  font-size: inherit;
}

input:invalid {
  box-shadow: none;
}

hr {
  border: 1px solid #c1c1c1;
  border-width: 1px 0 0;
}

button {
  padding: 0.5em 1em;
}


.remove-button {
  display: block;
  margin-left: auto;
}

.favicon-form,
#custom-favicons {
  overflow: hidden;
}

.favicon-form .wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.form-block {
  flex-grow: 1;
}

.buttons {
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
